{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="display-4 text-success">Welcome to Boutique Ado</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Welcome to Boutique Ado</h1>
            <p class="lead">Your one-stop shop for all your fashion needs.</p>
            <hr class="my-4">
            <p>Explore our wide range of products and find the perfect outfit for any occasion.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
        </div>
    </div>
</div>
{% endblock content %}